<h1>Welcome to ReciPals! Please Login.</h1>

<%= form_for(:user) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.text_field :password%>

    <%= f.submit "Login" %> | <a href="/logout"> Logout </a><br>
<% end %>

<%= button_to "Log in with Google", '/auth/google_oauth2' %>