<h1>Cookbook Show</h1>

<h1><%= @cookbook.title %></h1>
<p><%= @cookbook.description %></p>

<h3>Your List of Recipes:</h3>
<% @recipes.each do |recipe| %>
<%= link_to recipe.title, cookbook_recipe_path(recipe) %><br/>
<% end %>

<h3>Add a new Recipe:</h3>


<% if flash[:messages]%>
      <h3>Error(s):</h3>
      <ul>
        <% flash[:messages].each do |message|%>
        <li><%= message %></li>
      </ul>
      <% end %>
<% end %>


<%= form_with url: cookbook_recipes_path(@cookbook,@recipe) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br/>
    
    <%= f.label :description %>
    <%= f.text_field :description %><br/>
    
    <%= f.submit%>
<% end %>

<br/><%= link_to "All Cookbooks", cookbooks_path %>